@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background: #F5ECE0;
  --black-color: #1D1A1A
}

body {
  background-color: var(--body-background);
  color: var(--black-color)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}